<nav
  class='navbar navbar-expand-lg shadow-md py-4 bg-white relative flex items-center w-full justify-between'
>
  <div class='px-6 w-full flex flex-wrap items-center justify-between'>
    <div class='flex items-center mr-3'>
      <!-- hamburger menu smaller vw -->
      <button
        class='navbar-toggler border-0 py-3 lg:hidden leading-none text-xl bg-transparent text-gray-600 hover:text-gray-700 focus:text-gray-700 transition-shadow duration-150 ease-in-out mr-2'
        type='button'
        data-bs-toggle='collapse'
        data-bs-target='#navbarSupportedContentY'
        aria-controls='navbarSupportedContentY'
        aria-expanded='false'
        aria-label='Toggle navigation'
      >
        <i class='fa-solid fa-paw-simple'></i>
      </button>
      <a class='navbar-brand text-blue-600' href='/'>
        <img style='height: 40px' src='images/MVP-blue-bg.png' alt='' /></a>
    </div>
    <div
      class='navbar-collapse collapse grow items-center'
      id='navbarSupportedContentY'
    >
      <ul class='navbar-nav mr-auto lg:flex lg:flex-row space-x-4'>
        <li class='nav-item'>
          <a
            class='nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out'
            href='/dashboard'
            data-mdb-ripple='true'
            data-mdb-ripple-color='light'
          >Dashboard</a>
        </li>
        <li class='nav-item'>
          <a
            class='nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out'
            href='/team'
            data-mdb-ripple='true'
            data-mdb-ripple-color='light'
          >Our Team</a>
        </li>
        <li class='nav-item mb-2 lg:mb-0'>
          <a
            class='nav-link block pr-2 lg:px-2 py-2 text-gray-600 hover:text-gray-700 focus:text-gray-700 transition duration-150 ease-in-out'
            href='/about'
            data-mdb-ripple='true'
            data-mdb-ripple-color='light'
          >About the App</a>
        </li>
      </ul>
    </div>
    <div class='flex items-center lg:ml-auto'>
      <button
        type='button'
        class='inline-block px-6 py-2.5 mr-2 bg-transparent text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:text-blue-700 hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200 transition duration-150 ease-in-out'
        href='/logout'
        data-mdb-ripple='true'
        data-mdb-ripple-color='light'
      >
        Logout
      </button>
    </div>
  </div>
</nav>