<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='icon'
      type='image/x-icon'
      href='/public/images/favicon-32x32.png'
    />
    <link rel='stylesheet' href='/css/output.css' />
    <script
      src='https://kit.fontawesome.com/489fc29660.js'
      crossorigin='anonymous'
    ></script>
    <title>My Valuable Pet
    </title>
  </head>
  <body class='min-h-screen flex flex-col'>
    {{{body}}}
    {{! TODO: erro404: cannot retrieve index.min.js from node-modules. need to ask solution. temporarily use CDN for js}}
    {{! <script src='/dist/js/index.min.js'></script> }}
    <script
      src='https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js'
    ></script>
  </body>
</html>