{{>publicNav}}
        <!-- background image courtesy of Jamie Street https://unsplash.com/photos/UtrE5DcgEyg Free to use -->
        <div
          class="min-h-screen px-6 py-12 md:px-12 bg-gray-100 text-gray-800 text-center lg:text-left style flex-1 bg-center bg-cover bg-no-repeat flex justify-center items-center"
          style="
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
              ),
              url('https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
          "
        >
          
          <section class=" gradient-form">
            <div class="py-12 px-6 flex items-center justify-center">
              <div
                class="flex justify-center items-center flex-wrap g-6 text-gray-800"
              >
                <div class="xl:w-10/12">
                  <div class="block bg-white shadow-lg rounded-lg">
                    <div class="flex-col lg:flex-row lg:flex lg:flex-wrap g-0">
                      <div class="lg:w-6/12 px-4 md:px-0">
                        <div class="md:p-12 md:mx-6 md:my-20">
             
            <p>This application was created by Team Express as part of University Bootcamp. Throughout the design we have had pet owners in mind, as we know how important they are to you & your family. </p>
                
                <br>
            <p>Our priority was allowing users to create a secure account, to store important information about their beloved four-legged friends, with plans to add more features in the future.</p>
<br>
            <p>This application is currently a prototype so should you have any feedback or suggestions on the design or the functionality, you can <a style="color:blue;" target="_blank" href="mailto:alicebryer123@gmail.com">email us</a>.</p>
<br>
            <p> If you are interested in our code or other information about this project then you can view our <a style="color:blue;" target="_blank" href="https://github.com/ss12932/mvp-pet-app" >Github repository </a>or our <a style="color:blue;" >Heroku</a>.</p>
             
                        </div>
                      </div>
                      <div
                        class="lg:w-6/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none"
                      >
                        <img
                          class="lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none object-cover w-full h-full"
                          src="https://images.unsplash.com/photo-1523480717984-24cba35ae1ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                          alt="image of a golden retriever on beach"
                          srcset=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
         
        </div>
      </section>

{{>footer}}