    <div class="h-full bg-gray-100 flex flex-col">
{{>publicNav}}
      <!-- Public Nav Bar partial -->
      <section class="flex-1 flex flex-col">
        <!-- background image courtesy of Jamie Street https://unsplash.com/photos/UtrE5DcgEyg Free to use -->
        <div
          class="px-6 py-12 md:px-12 bg-gray-100 text-gray-800 text-center lg:text-left style flex-1 bg-center bg-cover bg-no-repeat"
          style="
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
              ),
              url('https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
          "
        >
          <div class="container mx-auto xl:px-32">
            <div class="lg:grid-cols-2 gap-12 flex items-center">
              <div class="mt-12 lg:mt-0 md:w-1/2">
                <h1
                  class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-12 text-blue-500"
                >
                  My Valuable Pet <br /><span class="text-white"
                    >The best app for your Dog's needs!</span
                  >
                </h1>
                <p class="text-gray-300">
                  A handy application to allow you to keep track of all your
                  pets! Sign up today!
                </p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Design Block -->
    </div>
    <!-- Footer Section -->
{{>footer}}