<div class='flex justify-center items-center flex-1'>
  <div
    id='form'
    class='block bg-slate-50 p-6 rounded-xl shodow-md shadow-slate-300 w-90'
  >
    <form action=''>
      <h2 class='text-blue-700 text-3xl font-semibold my-4'>
        Register
      </h2>
      <!-- full name -->
      <div id='fullName'>
        <!-- username -->
        <div id='username'>
          <label for='fname' class='text-sm'>Username</label><br />
          <input
            type='text'
            name=''
            id='fname'
            class='h-8 w-full rounded-md border border-slate-300 text-sm pl-2 bg-transparent outline-blue-600 shadow-sm'
          />
        </div>
      </div>

      <!-- email -->
      <label for='email' class='text-sm'>Email</label><br />
      <input
        type='emial'
        name=''
        id='email'
        class='h-8 w-full rounded-md border border-slate-300 text-sm pl-2 bg-transparent outline-blue-600 shadow-sm'
      />
      <!-- password -->
      <label for='password' class='text-sm'>Password</label><br />
      <input
        type='password'
        name=''
        id='password'
        class='h-8 w-full rounded-md border border-slate-300 text-sm pl-2 bg-transparent outline-blue-600 shadow-sm'
      />
      <br /><br />
      <!-- Sign up / submit button -->
      <input
        type='submit'
        name=''
        id='signUp'
        class='bg-blue-700 w-full h-10 cursor-pointer text-white rounded-md hover:bg-blue-600 hover:outline outline-2 outline-blue-600 outline-offset-2 text-sm'
      /><br />
      <p class='text-xs my-2'>
        Already have a account?
        <a href='#' class='text-blue-600'>Login</a>
      </p>
    </form>
  </div>
</div>