  <!-- Container for demo purpose -->
    <div class="bg-gray-100 flex">
      <!-- Public Nav Bar partial -->
      <section class="h-full flex-1 flex flex-col">
{{>publicNav}}
        <!-- background image courtesy of Jamie Street https://unsplash.com/photos/UtrE5DcgEyg Free to use -->
        <div
          class="h-full px-6 py-12 md:px-12 bg-gray-100 text-gray-800 text-center lg:text-left style flex-1 bg-center bg-cover bg-no-repeat"
          style="
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
              ),
              url('https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
          "
        >
          <!-- start of login -->
          <section class="h-full gradient-form">
            <div class="py-12 px-6 h-full flex items-center justify-center">
              <div
                class="flex justify-center items-center flex-wrap h-full g-6 text-gray-800"
              >
                <div class="xl:w-10/12">
                  <div class="block bg-white shadow-lg rounded-lg">
                    <div class="lg:flex lg:flex-wrap g-0">
                      <div class="lg:w-6/12 px-4 md:px-0">
                        <div class="md:p-12 md:mx-6">
                          <div class="text-center">
                            <img
                              class="mx-auto w-36"
                              src="./images/MVP-blue-bg.png"
                              alt="logo"
                            />
                            <h4 class="text-xl font-semibold mt-1 mb-12 pb-1">
                              My Valuable Pet
                            </h4>
                          </div>
                          <form id="signup-form">
                            <p class="mb-4">Register your MVP account today!</p>
                            <div class="mb-4">
                              <input
                                type="text"
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                id="username-signup"
                                placeholder="Username"
                              />
                            </div>
                            <div class="mb-4">
                              <input
                                type="text"
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                id="email-signup"
                                placeholder="Email"
                              />
                            </div>
                            <div class="mb-4">
                              <input
                                type="password"
                                class="form-control block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:outline-none"
                                id="password-signup"
                                placeholder="Password"
                              />
                            </div>

                            <div class="text-center pt-1 mb-12 pb-1">
                              <button
                                class="inline-block px-6 py-2.5 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out w-full mb-3 bg-blue-600"
                                type="submit"
                                data-mdb-ripple="true"
                                data-mdb-ripple-color="light"
                              >
                                Register
                              </button>
                            </div>
                            <div class="flex items-center justify-between pb-6">
                              <p class="mb-0 mr-2">Already have an account?</p>
                              <a href="/login">
                              <button
                                type="button"
                                class="inline-block px-6 py-2 border-2 border-blue-600 text-blue-600 font-medium text-xs leading-tight uppercase rounded hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                                data-mdb-ripple="true"
                                data-mdb-ripple-color="light"
                              >
                                Login
                              </button></a>
                            </div>
                          </form>
                        </div>
                      </div>
                      <div
                        class="lg:w-6/12 flex items-center lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none"
                      >
                        <img
                          class="lg:rounded-r-lg rounded-b-lg lg:rounded-bl-none object-cover w-full h-full"
                          src="https://images.unsplash.com/photo-1504595403659-9088ce801e29?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80"
                          alt=""
                          srcset=""
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- end of login -->
        </div>
      </section>

      <!-- Section: Design Block -->
    </div>
    <!-- Footer Section -->
{{>footer}}

<script src="/js/signup.js"></script>