    <div class=" bg-gray-100 flex">
      <section class="flex-1 flex flex-col">
        <!-- private nav bar partial -->
{{>privateNav}}
        <!-- background image courtesy of Jamie Street https://unsplash.com/photos/UtrE5DcgEyg Free to use -->
        <div
          class="px-6 py-12 md:px-12 bg-gray-100 text-gray-800 text-center lg:text-left style flex-1 bg-center bg-cover bg-no-repeat flex flex-col justify-center h-min-screen"
          style="
            background-image: linear-gradient(
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
              ),
              url('https://images.unsplash.com/photo-1544568100-847a948585b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
          "
        >
          <!-- dashboard section container -->
          <section class="h-full rounded">
            <div class="flex h-full flex-col lg:flex-row">
              <!-- start of side nav bar -->
              <div class="w-full lg:w-60 h-full shadow-md bg-white px-1">
                <!-- start of image container div -->
                <div class="flex flex-col p-4 space-y-4">
                  <img
                    class="rounded-full w-36 h-36 mx-auto"
                    src="https://mdbootstrap.com/img/new/avatars/2.jpg"
                    alt=""
                    srcset=""
                  />
                  <h2>Welcome Username!</h2>
                  <hr />
                </div>
                <!-- end of image container div -->
                <!-- start of side button links -->
                <ul>
                  <li>
                    <a
                      class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-100 transition duration-300 ease-in-out"
                      href="#!"
                      data-mdb-ripple="true"
                      data-mdb-ripple-color="dark"
                    >
                      <i class="fa-solid fa-paw fa-lg mr-2"></i>Overview</a
                    >
                  </li>
                  <li>
                    <a
                      class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-100 transition duration-300 ease-in-out"
                      href="#!"
                      data-mdb-ripple="true"
                      data-mdb-ripple-color="dark"
                      ><i class="fa-solid fa-paw fa-lg mr-2"></i>Stats</a
                    >
                  </li>
                  <li>
                    <a
                      class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-100 transition duration-300 ease-in-out"
                      href="#!"
                      data-mdb-ripple="true"
                      data-mdb-ripple-color="dark"
                      ><i class="fa-solid fa-paw fa-lg mr-2"></i>Gallery</a
                    >
                  </li>
                  <li>
                    <a
                      class="flex items-center text-sm py-4 px-6 h-12 overflow-hidden text-gray-700 text-ellipsis whitespace-nowrap rounded hover:text-gray-900 hover:bg-gray-100 transition duration-300 ease-in-out"
                      href="#!"
                      data-mdb-ripple="true"
                      data-mdb-ripple-color="dark"
                      ><i class="fa-solid fa-paw fa-lg mr-2"></i>Settings</a
                    >
                  </li>
                </ul>
                <!-- end of side button links -->
              </div>
              <!-- end of side nav bar -->
              <!-- start of overview section container, click on side nav link -> render partial for overview/stats/gallery?-->
              <div class="w-full bg-gray-100">
                <div>
                    <!--start of all pet cards container -->
                    <div class="flex justify-center flex-wrap gap-6">
                      <!-- start of pet 1 card -->
                      <div class="flex justify-center w-full">
                        <div
                          class=" shadow-lg bg-gray-100 w-full min-h-screen"
                        >
                          <a href="#!">
                            <!-- courtesy of Victor Grabarczyk https://unsplash.com/photos/N04FIfHhv_k  -->
                            <img
                              class="rounded-full mx-auto p-6"
                              src="https://source.unsplash.com/N04FIfHhv_k/300x300"
                              alt=""
                            />
                          </a>
                          <div class="p-6 flex flex-col items-center mx-auto w-full md:w-3/4 bg-white rounded-lg mb-8">
                            <h5 class="text-gray-900 text-4xl font-bold mb-2">
                              Lucky
                            </h5>
                            <!-- start of notifications box -->
                            <div class="w-full flex flex-col items-center justify-center p-5">
                              <h5 class="border font-bold bg-blue-600 text-white p-3 text-left w-full lg:w-5/6 pl-6">
                                Lucky's Notifications
                              </h5>
                              <div class="border w-full lg:w-5/6 ">
                                <div
                                class="border p-3 text-center"
                              >
                                Lucky's Appointment is due 23/03/2022
                              </div>
                              <div
                              class="border p-3 text-center font-semi"
                            >
                              Lucky's Appointment is due 23/03/2022
                            </div>
                              </div>
                            </div>
                            <!-- end of notifications box -->
                          
                          
                            <div class="tables-container flex flex-col w-full lg:w-5/6">
                              <!-- start of table -->
                              <div class="w-full mx-auto">
                                <div class="mx-auto grid grid-cols-1 p-4">
                                  <div
                                  class="border p-3 text-center bg-blue-600 text-white font-semibold flex justify-between items-center w-full px-6"
                                >
                                  <p>Pet Info</p>  <div class="space-x-2"><button type="submit" id="edit-btn" class="p-1 rounded-lg px-5 bg-white text-blue-600 align">Edit</button> <button type="submit" id="done-btn" class="p-1 rounded-lg px-5 bg-white text-blue-600 align">Done</button></div>
                                </div>
                                  <div class="">
                                    <div
                                      class="border p-3 text-center bg-gray-100 text-black font-semibold"
                                    >
                                      Pet Name
                                    </div>
                                    <p  id="pet-name" class="border p-3 text-center edit-field">Luck</p>
                                  </div>
                                  <div class="">
                                    <div
                                      class="border p-3 text-center bg-gray-100 text-black font-semibold"
                                    >
                                      Pet Breed
                                    </div>
                                    <p  id="pet-breed" class="border p-3 text-center edit-field">Golden Retriever</p>
                                  </div>
                                  <div class="">
                                    <div
                                      class="border p-3 text-center bg-gray-100 text-black font-semibold"
                                    >
                                      Date of Birth
                                    </div>
                                    <p  id="pet-dob" class="border p-3 text-center edit-field">07/03/2022</p>
                                  </div>
                                  <div class="">
                                    <div
                                      class="border p-3 text-center bg-gray-100 text-black font-semibold"
                                    >Gender
                                    </div>
                                    <p  id="pet-gender" class="border p-3 text-center edit-field">Male</p>
                                  </div>
                                  <div class="">
                                    <div 
                                      class="border p-3 text-center bg-gray-100 text-black font-semibold"
                                    >
                                      Weight
                                    </div>
                                    <p id="pet-weight" class="border p-3 text-center edit-field">22 Pounds</p>
                                  </div>
                                  <div class="">
                                    <div
                                      class="border p-3 text-center bg-gray-100 text-black font-semibold"
                                    >
                                      Next Appointment
                                    </div>
                                    <p id="pet-nextappt" class="border p-3 text-center edit-field">22/09/2022</p>
                                  </div>
                                </div>
                              </div>
                              <!-- end of 2nd table -->
                            </div>
                          </div>
                            <!-- end of table-->
                          </div>
                        </div>
                      </div>
                      <!-- end of pet 1 card -->
                    <!--end of all pet cards container -->
                  </div>
                </div>
              </div>
          </section>
              <!-- end of overview section container -->
            </div>
          </section>
        </div>
      </section>
    </di
    <!-- Footer Section -->
{{>footer}}
<script src="/js/singlePet.js"></script>